<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpenseTrackingApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECCD1BBC2BC11F0A00E06757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCD1BD52BC11F0C00E06757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCD1BDF2BC11F0C00E06757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
